<% if records.length > 0 %>
    <table class="table table-striped no-margin">
      <thead>
      <tr>
        <th>Date</th>
        <th>Result</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <% records.each do |r| %>
          <tr>
            <td>
              <a href="<%= exam_path %>/result/<%= r.id %>"><%= r.created_at.strftime('%d.%m.%Y') %></a>
            </td>
            <% if r.passed %>
                <td>
                    <%= number_to_percentage(r.result, precision: 2) %>
                </td>
                <td>
                  <span class="label-success">PASSED</span>
                </td>
            <% else %>
                <td>
                  <%= number_to_percentage(r.result, precision: 2) %>
                </td>
                <td>
                  <span class="label-danger">FAILED</span>
                </td>
            <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
    You have not taken ane exams yet. You can start one by clicking <a class="btn btn-xs btn-success" href="<%=exam_path%>">here</a>.
<% end %>