<div class="progress progress-small no-margin">
  <div class="progress-bar progress-bar-<%= type %>" role="progressbar"
       aria-valuenow="<%= records.length.to_f / @total.to_f * 100.0 %>" aria-valuemin="0" aria-valuemax="100"
       style="width: <%= records.length.to_f / @total.to_f * 100.0 %>%"></div>
</div>

<p><%=records.length%> out of <%=@total%> questions in this section.</p>

<% if records.length > 0 %>
<table class="table table-striped no-margin">
  <thead>
  <tr>
    <th>#</th>
    <th>Question</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <% records.each do |r| %>
  <tr>
    <td><%= r.id %></td>
    <td><%= r.title %></td>
    <td><%= r.description %></td>
  </tr>
  <% end %>
  </tbody>
</table>
<% end %>