<% provide(:title, 'My progress')%>
<div class="row">
  <div class="col-md-8">
      <div class="panel panel-danger no-margin">
        <div class="panel-heading clearfix">
          <i class="icon-calendar"></i>
          <h3 class="panel-title">Incorrect answered</h3>
        </div>
        <div class="panel-body">
          <%= render :partial =>'table', :locals => {:records => @incorrect, :type => 'danger'} %>
        </div>
      </div>
      <div class="panel panel-grey no-margin">
        <div class="panel-heading clearfix">
          <i class="icon-calendar"></i>
          <h3 class="panel-title">Not answered</h3>
        </div>
        <div class="panel-body">
          <%= render :partial =>'table', :locals => {:records => @unanswered, :type => 'warn'} %>
        </div>
      </div>
      <div class="panel panel-info no-margin">
        <div class="panel-heading clearfix">
          <i class="icon-calendar"></i>
          <h3 class="panel-title">Correctly Answered</h3>
        </div>
        <div class="panel-body">
          <%= render :partial =>'table', :locals => {:records => @correct, :type => 'info'} %>
        </div>
      </div>
    <div class="panel panel-success no-margin">
      <div class="panel-heading clearfix">
        <i class="icon-calendar"></i>
        <h3 class="panel-title">Learned (3x correct)</h3>
      </div>
      <div class="panel-body">
        <%= render :partial =>'table', :locals => {:records => @learned, :type => 'success'} %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-warning no-margin">
      <div class="panel-heading clearfix">
        <i class="icon-calendar"></i>
        <h3 class="panel-title">Exam history</h3>
      </div>
      <div class="panel-body">
        <%= render :partial =>'examtable', :locals => {:records => @exams} %>
      </div>
    </div>
  </div>
</div>