<script>
  var visible_form = '<%= @visible_form %>';
</script>
<div id="login-container">
  <%= image_tag 'logo.png', {width: '85%'} %>
  <h4>The driving license learning platform</h4>
  <hr>
  <div id="error-message" class="alert alert-danger">Error message</div>
  <div id="info-message" class="alert alert-info">Loading, please wait.</div>
  <div id="success-message" class="alert alert-success">Error message</div>
  <div id="login">
    <div id="form-login">
      <%= form_tag '/login', id: 'login-form', class: 'form' do%>
        <div class="form-group">
          <label for="login-username">E-Mail</label>
          <input type="text" class="form-control" id="login-username" name="user[email]" placeholder="e-mail">
        </div>
        <div class="form-group">
          <label for="login-password">Password</label> <input
        type="password" class="form-control" name="user[password]" id="login-password"
        placeholder="Password">
        </div>
        <div class="form-group">
          <button type="submit" id="login-btn"
                  class="btn btn-success btn-block">Signin</button>
          <br>
          <button type="button" id="register-btn" class="btn btn-primary"
                  data-original-title="">Register</button>
          <button type="button" id="forgot-btn" class="btn btn-info"
                  data-original-title="">Forgot password?</button>
        </div>
      <% end %>
    </div>
    <div id="form-register">
      <%= form_tag '/signup', id: 'register-form', class: 'form' do%>
        <div class="form-group">
          <label for="login-username">E-Mail</label>
          <input type="text" class="form-control" id="register-username" name="user[email]" placeholder="e-Mail">
        </div>
        <div class="form-group">
          <label for="login-password">Password</label>
          <input type="password" class="form-control" name="user[password]" id="register-password"
        placeholder="Password">
        </div>
        <div class="form-group">
          <label for="login-password">Password verification</label>
          <input type="password" class="form-control" name="user[password_confirmation]" id="register-password2"
        placeholder="Password">
        </div>
        <div class="form-group">
          <label>Categories</label>
          <% @categories.each do |category| %>
              <div class="checkbox callout no-margin">
                <label>
                  <input type="checkbox" name="categories[]" value="<%= category.id %>" />
                  <span><%= category.title %></span>
                </label>
              </div>
          <% end %>
        </div>
        <div class="form-group">
          <button type="submit" id="send-forgot-btn"
                  class="btn btn-success btn-block">Register</button>
          <br>
          <button type="button" class="back-btn btn btn-primary btn-block" data-original-title="">Back</button>
        </div>
      <% end %>
    </div>
    <div id="form-forgot">
      <%= form_tag '/forgotpassword', id: 'forgot-form', class: 'form' do%>
        <div class="form-group">
          <label for="login-username">E-Mail</label>
          <input type="text" class="form-control" id="login-username" name="email" placeholder="e-Mail">
        </div>
        <div class="form-group">
          <button type="submit" id="send-forgot-btn"
                  class="btn btn-success btn-block">Request new password</button>
          <br>
          <button type="button" class="back-btn btn btn-primary btn-block"
                  data-original-title="">Back</button>
        </div>
      <% end %>
    </div>
  </div>
</div>