<% provide(:title, 'Exam')%>
<% content_for :buttons do %>
<a class="btn-check btn btn-lg rounded-buttons btn-primary pull-right">
  <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
  Next Question
</a> &nbsp;
<a class="btn-check btn btn-lg rounded-buttons btn-warning"  href="<%=exam_path %>/result/<%=current_exam.id%>">
  <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
  Cancel
</a>
<% end %>
<%= render partial: 'shared/question', locals: {controller: 'exam'} %>