<div class="row">
  <p>&nbsp;</p>
</div>
<div class="row">
  <div class="col-md-12">

    <div class="panel panel-info">
      <div class="panel-heading clearfix">
        <h3 class="panel-title"><b>Summary</b></h3>
      </div>
      <div class="panel-body">
        <div class="progress progress-small">
          <div class="progress-bar progress-bar-<%= @color %>" role="progressbar"
               aria-valuenow="<%= @percentage %>" aria-valuemin="0" aria-valuemax="100"
               style="width: <%= @percentage %>%"></div>
        </div>
        <% if @passed %>
            <h3><span class="label label-success">PASSED</span></h3>
            <h3>Congratulations, you would have passed in a real exam. </h3>
        <% else %>
            <h3><span class="label label-danger">FAILED</span></h3>
            <h3>Sorry, but this is not enough, you would have failed in a real exam. </h3>
        <% end %>
        <h4>You have answered <b><%= number_to_percentage(@percentage, precision: 2) %></b> of the questions correctly.</h4>
        <a class="btn btn-lg rounded-buttons btn-primary pull-right"
           data-original-title="" href="<%= dashboard_path %>">Finish</a>
      </div>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-success">
      <div class="panel-heading clearfix">
        <h3 class="panel-title"><b>Correct answered</b></h3>
      </div>
      <div class="panel-body">
        <%= render :partial =>'table', :locals => {:records => @correct_questions} %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-danger">
      <div class="panel-heading clearfix">
        <h3 class="panel-title"><b>Incorrect answered</b></h3>
      </div>
      <div class="panel-body">
        <%= render :partial =>'table', :locals => {:records => @incorrect_questions} %>
      </div>
    </div>
  </div>
</div>