<% if records.length > 0 %>
<table class="table table-striped no-margin">
  <thead>
  <tr>
    <th>#</th>
    <th>Question</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <% records.each do |r| %>
  <tr>
    <td><%= r.id %></td>
    <td><%= r.title %></td>
    <td><%= r.description %></td>
  </tr>
  <% end %>
  </tbody>
</table>
<% end %>