<% provide(:title, 'Settings')%>
<div class="row">
  <%= form_tag user_path, id: 'settings-form', class: 'form', remote: true do%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <i class="icon-calendar"></i>
          <h3 class="panel-title">Account Settings</h3>
        </div>
        <div class="panel-sub-heading">
          <a href="#" data-original-title="" title="">E-Mail / Username</a>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail3" name="user[email]" placeholder="Email" value="<%= @user.email %>">
            </div>
          </div>
        </div>
        <div class="panel-sub-heading">
          <a href="#" data-original-title="" title="">Change Password</a>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label for="inputPassword1" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword1" name="user[password]" autocomplete="off" value="">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword2" class="col-sm-2 control-label" autocomplete="off">Password again</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword2" name="user[password_confirmation]" value="">
            </div>
          </div>
          <div class="form-group" style="margin-bottom: 0px;">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-success pull-right" data-original-title="" title="">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <h3 class="panel-title">Exam details</h3>
        </div>
        <div class="panel-sub-heading">
          <a href="#" data-original-title="" title="">License Types</a>
        </div>
        <div class="panel-body">
          <% @categories.each do |category| %>
          <div class="checkbox callout no-margin">
            <label>
              <input type="checkbox" name="categories[]" value="<%= category.id %>" <% if @user.categories.include?(category) %>checked="true" <% end %>/>
              <span><%= category.title %></span>
            </label>
          </div>
          <% end %>

        </div>
        <div class="panel-sub-heading">
          <a href="#" data-original-title="" title="">Date of the exam</a>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label for="inputExamdate" class="col-sm-2 control-label">Date of the exam</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputExamdate" name="user[examdate]" value="<%= l(@user.examdate) %>">
            </div>
          </div>
          <div class="form-group" style="margin-bottom: 0px;">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-success pull-right" data-original-title="" title="">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>