/**
 * Created by cinemast on 1/7/15.
 */

<% if (@error != '') %>
    $("#error-message").html('<%=@error%>');
    $("#error-message").fadeIn();
<% else %>
    $("#info-message").html('Your settings have been saved');
    $("#info-message").fadeTo(2000, 500).fadeOut(500, function(){
        $("#success-alert").alert('close');
    });
    $("#error-message").fadeOut();
<% end %>