body {
  margin: 50px 0;
}
#login-container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
@media(max-width:767px){
  #login-container{
    width: 90%;
  }
}

#login-container .row > div:last-child {
  margin-bottom: 0;
}


#login-container #logo {
  position: absolute;
  top: -50px;
  left: 50%;
  z-index: 100;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  background-color: #ffffff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  text-align: center;
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.20);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.20);
}

#login-container #logo sup{
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: -100;
}
#login-container #logo sup i{
  font-size: 64px;
  color: #f6a363;
}
#login-container #login h3{
  margin: 20px auto;
}
#login-container #login h3 span{
  color: #4697c6;
}

#login {
  position: relative;
  padding: 10px 25px 25px 25px;
  margin-bottom: 1em;
  background-color: #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.30);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.30);
}
#login #login-form {
  padding: 0;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: left;
}
#login #login-form label {
  display: none;
}
#login #login-form .form-control {
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
}
#login #login-btn {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
}
@media (min-width: 768px) {
  #login-container {
    width: 360px;
  }
  #login-container .row > div {
    margin-bottom: 0;
  }
  #login #login-form {
    padding: 0 25px;
    text-align: left;
  }
}
