<div class="row">
  <div class="col-md-12">
    <div class="details">
      <span></span> <span class="pull-right">Questions answered:
      <%= @cnt_done %> / <%= @cnt_total %></span>
    </div>
    <br>
    <div class="progress progress-small no-margin">
      <div class="progress-bar progress-bar-success" role="progressbar"
           aria-valuenow="<%= @cnt_done.to_f / @cnt_total.to_f * 100 %>" aria-valuemin="0" aria-valuemax="100"
           style="width: <%= @cnt_done.to_f / @cnt_total.to_f * 100 %>%"></div>
    </div>
  </div>
</div>
<div class="row">&nbsp;</div>

<!-- Row start -->
<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <h3 class="panel-title"><%= @q.title %></h3>
          </div>
          <div class="panel-body">
            <h3><%= @q.description %></h3>
          </div>
          <div class="panel-sub-heading">
            <a href="#">Answers</a>
          </div>
          <div class="panel-body">
            <%= form_tag '/'+controller, id: 'form-answer' do%>
                <% for i in 0..3 do %>
                <div id="answer<%=i+1%>" class="answer checkbox callout no-margin">
                  <label>
                    <input type="checkbox" id="cb<%=i+1%>" name="answer<%=i+1%>" autocomplete="off" value="<%= @q.answers[i].id %>" />
                    <h4><%= @q.answers[i].answer %></h4>
                  </label>
                </div>
                <% end %>
                <%= yield :buttons %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">Image</h3>
      </div>
      <div class="panel-body">
        <%= image_tag @q.image_url, {width: '100%'} %>
      </div>

    </div>
  </div>

  <div class="col-md-4 hidden-sm">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">Help</h3>
      </div>
      <div class="panel-body">
        <p>You can use the the keyboard to answer the questions:</p>
        <ul>
          <li>1 -> Tick or untick answer 1</li>
          <li>2 -> Tick or untick answer 2</li>
          <li>3 -> Tick or untick answer 3</li>
          <li>4 -> Tick or untick answer 4</li>
          <li>Return -> Confirm / Next question</li>
        </ul>
      </div>

    </div>
  </div>

</div>