<div class="row">
  <div class="col-md-12">
    <div class="panel panel-success no-margin">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">Finished</h3>
      </div>
      <div class="panel-body">
        <h1>Good Job!</h1>
        <h3>All questions in this category are answered.</h3>
        <a class="btn btn-lg rounded-buttons btn-primary pull-right"
           data-original-title="" href="<%= dashboard_path %>">Finish</a>
      </div>
    </div>
  </div>
</div>