<% provide(:title, 'Learning')%>
<% content_for :buttons do %>
<button type="button" class="btn-check btn btn-lg rounded-buttons btn-primary pull-right">
  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
  Check Answer
</button>
<a class="btn-next btn btn-lg rounded-buttons btn-success pull-right hidden" data-remote="true" href="<%= @link_suffix %>">
  <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
  Next Question
</a>
<% end %>

<%= render partial: 'shared/question', locals: {controller: 'learn'} %>