<% provide :title, 'Dashboard' %>
<div class="row"></div>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">Progress</h3>
      </div>
      <div class="panel-sub-heading">
        <a href="#">Todays goal</a>
      </div>
      <div class="panel-body">
        <p><b><%= @days_left %> days</b> left until your exam, this means studying <b><%= @daily_goal %> questions</b> per day.</p>
        <ul class="progress-stats">
          <li>
            <div class="details">
              <span>Finished</span> <span class="pull-right"><%= @progress_today %> %</span>
            </div>
            <div class="progress progress-small no-margin">
              <div class="progress-bar progress-bar-info" role="progressbar"
                   aria-valuenow="<%= @progress_today %>" aria-valuemin="0" aria-valuemax="100"
                   style="width: <%= @progress_today %>%"></div>
            </div>
          </li>
        </ul>
        <ul class="list-group no-margin">
          <li class="list-group-item"><span class="badge"><%= @cnt_today_done %></span>
            Studied questions</li>
          <li class="list-group-item"><span class="badge"><%= @cnt_today_to_learn %></span>
            Leftover questions</li>
        </ul>
      </div>
      <div class="panel-sub-heading">
        <a href="#">Total progress</a>
      </div>
      <div class="panel-body">
        <ul class="progress-stats">
          <li>
            <div class="details">
              <span>Finished</span> <span class="pull-right"><%= @progress_total %> %</span>
            </div>
            <div class="progress progress-small no-margin">
              <div class="progress-bar progress-bar-success"
                   role="progressbar" aria-valuenow="<%= @progress_total %>" aria-valuemin="0"
                   aria-valuemax="100" style="width: <%= @progress_total %>%"></div>
            </div>
          </li>
        </ul>
        <ul class="list-group no-margin">
          <li class="list-group-item"><span class="badge"><%= @cnt_total_done %></span>
            Studied questions</li>
          <li class="list-group-item"><span class="badge"><%= @cnt_total_to_learn %></span>
            Leftover questions</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">Learning Options</h3>
      </div>
      <div class="panel-body">
        <center>
          <a class="btn btn-lg rounded-buttons btn-primary"
             data-original-title="" href="<%= learn_path %>">
            <i class="icon-beaker"> </i> Smart Practice
          </a>
          &nbsp;
          <a class="btn btn-lg rounded-buttons btn-warning"
             data-original-title="" href="<%= learn_path %>/incorrect">
            <i class="icon-beaker"> </i> Incorrect questions
          </a>
          &nbsp;
          <a class="btn btn-lg rounded-buttons btn-info"
             data-original-title="" href="<%= learn_path %>/unanswered">
            <i class="icon-beaker"> </i> New questions
          </a>
        </center>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">Learning History</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-10">
            <canvas id="history-canvas" height="300" width="700"></canvas>
          </div>
          <div id="legend" class="col-md-2">

          </div>
        </div>
        <script>
            correct = <%= @correct %>;
            incorrect = <%= @incorrect %>;
            learned = <%= @learned %>;
            unanswered = <%= @unanswered %>;
            labels = <%= @labels %>;
        </script>
      </div>
    </div>
  </div>
</div>